export(
cov_chol,
cost_gaussian,
cost2_gaussian,
ker,
kern,
logdensity_gaussian,
loglikelihood_gaussian,
logpriors_gaussian,
logpriorh2,
LaplaceMetropolis_gaussian,
mcmcrecord_gaussian,
warmup_gaussian,
NadarayaWatsonkernel,
np_gibbs,
nrr,
warmup_admkr,
gibbs_admkr_nw,
gibbs_admkr_erro,
mcmcrecord_admkr,
logpriors_admkr,
loglikelihood_admkr,
logdensity_admkr,
LaplaceMetropolis_admkr,
cov_chol_admkr,
cost_admkr
)
